body {
  font-family: 'Comfortaa', cursive; }

li {
  list-style-type: none; }

ul {
  padding: 0; }

#header {
  width: 100%;
  height: 70px;
  background-image: url("../img/s1.jpg"); }

#container-info {
  width: 100%;
  min-height: 1200px;
  background-image: url("../img/i5.jpg");
  object-fit: cover;
  border-top: 1px solid transparent; }
  #container-info .info-box {
    width: 80%;
    height: 600px;
    background-color: #f7f2f2;
    border: 3px solid black;
    border-radius: 3%;
    margin: auto;
    margin-top: 50px; }
    #container-info .info-box .info-name {
      width: 100%;
      height: 15%;
      display: inline-block;
      border-bottom: 3px solid black;
      font-size: 30px;
      font-weight: bold;
      text-align: left;
      padding-left: 6%;
      padding-top: 2%; }
    #container-info .info-box .info-main {
      width: 100%;
      height: 84%;
      display: flex;
      padding-bottom: 1%; }
      #container-info .info-box .info-main .info-img-block {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-top: 1px solid transparent;
        border-right: 3px solid #bb6c6c; }
        #container-info .info-box .info-main .info-img-block .movie-img {
          width: 70%;
          height: 60%;
          display: block;
          border: 2px double #816c96;
          border-radius: 5%;
          margin: auto;
          margin-top: 17%; }
      #container-info .info-box .info-main .info-movie {
        width: 70%;
        height: 100%;
        background-color: #f4f6f7;
        display: flex;
        flex-direction: column; }
        #container-info .info-box .info-main .info-movie .info-li {
          font-size: 20px;
          margin-left: 6%; }
          #container-info .info-box .info-main .info-movie .info-li .info-li-name {
            font-weight: bold;
            font-size: 23px;
            border-bottom: 3px solid rgba(238, 111, 87, 0.5);
            border-right: 2px solid rgba(238, 111, 87, 0.5);
            border-radius: 20%; }
          #container-info .info-box .info-main .info-movie .info-li .info-li-text {
            margin-left: 2%; }
  #container-info .reviews {
    width: 70%;
    height: 500px;
    overflow-y: scroll;
    background-color: #f7f2f2;
    border: 3px solid black;
    border-radius: 3%;
    margin: auto;
    margin-top: 10px; }
    #container-info .reviews .reviews-name {
      width: 100%;
      height: 15%;
      display: inline-block;
      border-bottom: 3px solid black;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      padding-top: 1%;
      cursor: pointer; }
    #container-info .reviews .reviews-block {
      width: 100%;
      margin-top: 3%;
      margin-bottom: 5%; }
      #container-info .reviews .reviews-block .reviews-block-name-date {
        width: 100%;
        display: inline-block; }
        #container-info .reviews .reviews-block .reviews-block-name-date .reviews-user-name {
          display: inline-block;
          border-bottom: 2px solid #a87373;
          border-left: 2px solid #a87373;
          border-right: 2px solid #a87373;
          border-radius: 30%;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          margin-left: 5%; }
        #container-info .reviews .reviews-block .reviews-block-name-date .reviews-user-date {
          font-size: 15px;
          border-bottom: 2px solid #a87373;
          border-left: 2px solid #a87373;
          border-right: 2px solid #a87373;
          border-radius: 30%;
          margin-left: 5%; }
      #container-info .reviews .reviews-block .reviews-user-text {
        width: 90%;
        min-height: 70px;
        background: linear-gradient(to left, #ffcccc 2%, #ffffcc 100%);
        border-top: 3px solid rgba(179, 163, 163, 0.8);
        border-bottom: 2px solid rgba(168, 115, 115, 0.9);
        border-bottom-right-radius: 25%;
        border-top-right-radius: 25%;
        font-size: 20px;
        color: #240202;
        margin-left: 5%;
        margin-top: 1%;
        padding-top: 20px;
        padding-bottom: 20px; }

/*# sourceMappingURL=movie.css.map */
